<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    @RenderSection("styles", false)
    <style>
        #navbar, #footer {
            font-size: large;
        }

    </style>
</head>
<body class="pt-5">
        <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a id="home" class="navbar-icons" asp-action="Index" asp-controller="Home">Thư viện ĐH KT-CN Cần Thơ</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                     @await Html.PartialAsync("_LoginPartial")
                </ul>
            </div>
        </nav>
    <div class="container p-0 my-5" >
        @RenderBody()
    </div>


    <footer>
            <div class="footer" id="footer">
                <div class="footer-left">
                    <p>Trường Đại học Kỹ thuật - Công nghệ Cần Thơ</p>
                    <span>Địa chỉ: 256 Nguyễn Văn Cừ, Quận Ninh Kiều, Thành phố Cần Thơ  </span>
                    <br>
                    <span>
                        Email: phonghanhchinh@ctuet.edu.vn
                    </span>
                </div>
                <div class="footer-right">
                    <p>Thời gian phục vụ: </p>
                    <span>- Thứ 2 - Thứ 6</span>
                    <br>
                    <span>- Sáng: 7h30 -10h30 , Chiều: 13h30 - 16h30 </span>
                    <br>
                    <span>- Nghỉ Thứ 7, chủ nhật và ngày lễ theo quy định </span>
                </div>
            </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
