@model QLTV.AppMVC.Models.Entities.DauSach

@{
    ViewData["Title"] = "Xóa";
    ViewData["page"] = "Sách";
}

@if(TempData.ContainsKey("StatusMessage"))
{
    var model = TempData["StatusMessage"].ToString();
    <partial name="_StatusMessage" model=model/>
}

<div class="row">
    <div class="offset-3">
        <h3>Bạn có chắc chắn muốn xóa?</h3>

        <div>
            <h6>Đầu sách: <strong>@Model.TenDauSach</strong></h6>
            <hr />

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Xóa" class="btn btn-danger" /> |
                <a asp-action="Index">Trở về danh sách</a>
            </form>
        </div>

    </div>
</div>