@model QLTV.AppMVC.Models.Entities.NXB

@{
    ViewData["Title"] = "Xóa NXB";
    ViewData["page"] = "NXB";
}

<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenNXB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNXB)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa" class="btn btn-danger" />
        <a asp-action="Index">Trở về danh sách</a>
    </form>
</div>
