@model QLTV.AppMVC.Models.Entities.Nganh

@{
    ViewData["Title"] = "Xóa";
    ViewData["page"] = "Ngành";
}


<div class="col-md-8 offset-md-2">
    <h2>Bạn có chắc chắn muốn xóa?</h2>
    <hr />
    <p>Ngành: <strong>@Model.TenNganh</strong></p>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Index">Trở về danh sách</a> |
        <input type="submit" value="Xóa" class="btn btn-danger btn-sm" />
    </form>
</div>
