@model QLTV.AppMVC.Models.Entities.ChuDe

@{
    ViewData["Title"] = "Sửa thông tin chủ đề";
    ViewData["page"] = "Chủ đề";
}


<div class="row">
    <div class="col-md-8 offset-md-2">
        <h2>@ViewData["Title"]</h2>
        <hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="MaChuDe" class="control-label"></label>
                <input asp-for="MaChuDe" class="form-control" />
                <span asp-validation-for="MaChuDe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenChuDe" class="control-label"></label>
                <input asp-for="TenChuDe" class="form-control" />
                <span asp-validation-for="TenChuDe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary float-right" />
            </div>
        </form>
        <a asp-action="Index">Trở về danh sách chủ đề</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
