@model QLTV.AppMVC.Models.Entities.Lop

@{
    ViewData["Title"] = "Xóa lớp";
    ViewData["page"] = "Lớp";
}


<h3>Bạn có chắc chắn muốn xóa?</h3>

<div>
    <h4>Lop</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaLop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaLop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nganh_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nganh.TenNganh)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Trở về danh sách</a>
    </form>
</div>
