@model QLTV.AppMVC.Models.Entities.KeSach

@{
    ViewData["Title"] = "Xóa kệ sách";
    ViewData["page"] = "Kệ sách";
}

@{
    if (TempData.ContainsKey("StatusMessage"))
    {
        var model = TempData["StatusMessage"].ToString();
        await Html.RenderPartialAsync("_StatusMessage", model);
    }
}

<div class="col-md-8 offset-md-2">
    <h2>Bạn có chắc chắn muốn xóa?</h2>
    <hr />
    <p>Kệ sách: <strong>@Model.TenKeSach</strong></p>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Index">Trở về danh sách</a> |
        <input type="submit" value="Xóa" class="btn btn-danger" />
    </form>
</div>
