

@{
    ViewData["Title"] = "Danh sách kệ sách";
    ViewData["page"] = "Kệ sách";
}

@{
    if (TempData.ContainsKey("StatusMessage"))
    {
        var model = TempData["StatusMessage"].ToString();
        await Html.RenderPartialAsync("_StatusMessage", model);
    }
}

<h3>@ViewData["Title"]</h3>
<a asp-action="Create">Tạo mới</a>
<hr />

<div class="row">
    <div class="container-fluid col-md-10 offset-md-1">
        <table id="myTable" class="table">
            <thead class="">
                <tr>
                    <th>Kệ sách</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section Scripts {
    @* DataTable *@
    <link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
    <link href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/api/kesach/getall',
                type: 'get',
                data: {},
            }).done(function (res) {
                const modifierData = res.map(r => {
                    return {
                        ...r, tenKeSach: `<a href="kesach/Edit/${r.id}">${r.tenKeSach}</a>`,
                        tacvu: `<a href="kesach/Delete/${r.id}" class="btn btn-sm btn-danger">Xóa</a>`
                    }
                })
                console.log(res)
                $('#myTable').DataTable({
                    dom: 'Bfrtip',
                    buttons: [
                        {
                            extend: 'excelHtml5',
                            title: 'Data export'
                        },

                    ],
                    'processing': true,
                    'info': false,
                    data: modifierData,
                    columns: [
                        { data: 'tenKeSach' },
                        { data: 'tacvu' }
                    ],
                    language: {
                        "lengthMenu": "Hiển thị _MENU_ dòng",
                        "search": "Tìm kiếm:",
                        "zeroRecords": "Không tìm thấy dòng nào phù hợp",
                        paginate: {
                            previous: 'Trước',
                            next: 'Sau'
                        },
                        aria: {
                            paginate: {
                                previous: 'Previous',
                                next: 'Next'
                            }
                        }
                    }
                });
            })
        });
    </script>
}