@model QLTV.AppMVC.Models.Entities.BoMon

@{
    ViewData["Title"] = "Xóa";
    ViewData["page"] = "Bộ môn";
}

<div class="col-md-8 offset-md-2">
    <h2>Bạn có chắc chắn muốn xóa?</h2>
    <hr />
    <p>Bộ môn: <strong>@Model.TenBoMon</strong></p>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Index">Trở về danh sách</a> |
        <input type="submit" value="Xóa" class="btn btn-danger btn-sm"  />
    </form>
</div>
