@model QLTV.AppMVC.Models.Entities.SinhVien

@{
    ViewData["Title"] = "Thêm mới sinh viên";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaSV" class="control-label"></label>
                <input asp-for="MaSV" class="form-control" />
                <span asp-validation-for="MaSV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenSV" class="control-label"></label>
                <input asp-for="TenSV" class="form-control" />
                <span asp-validation-for="TenSV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgaySinh" class="control-label"></label>
                <input asp-for="NgaySinh" class="form-control" />
                <span asp-validation-for="NgaySinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GioiTinh" class="control-label"></label>
                <div>
                    <input type="radio" name="GioiTinh" value="Nam"> Nam<br>
                    <input type="radio" name="GioiTinh" value="Nữ"> Nữ<br>
                </div>
                <span asp-validation-for="GioiTinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lop_Id" class="control-label"></label>
                <select asp-for="Lop_Id" class="form-control" asp-items="ViewBag.Lop_Id"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Đồng ý" class="btn btn-success float-right" />
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <form asp-action="ImportFromExcel" method="post" enctype="multipart/form-data">
            <label class="control-label">Thêm từ Excel file</label>
            <input type="file" name="file" />
            <input class="btn btn-primary mt-2" type="submit"  value="Upload" />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Trở về danh sách</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
