@model QLTV.AppMVC.Models.Entities.SinhVien

@{
    ViewData["Title"] = "Xóa thông tin sinh viên";
    ViewData["page"] = "Sinh viên";

    if(TempData.ContainsKey("StatusMessage"))
    {
        var model = TempData["StatusMessage"];
        await Html.RenderPartialAsync("_StatusMessage", model);
    }
}


<div class="col-md-8 offset-md-2">
    <h2>Bạn chắc chắn xóa không?</h2>
    <hr />
    <p>MSSV: <strong>@Model.MaSV</strong></p>
    <p>Tên sinh viên: <strong>@Model.TenSV</strong></p>

    <form asp-action="Delete">
        <input type="hidden" asp-for="MaSV" />
        <a asp-action="Index">Trở về danh sách sinh viên</a> |
        <input type="submit" value="Xóa" class="btn btn-danger btn-sm" />
    </form>
</div>
