@model IEnumerable<QLTV.AppMVC.Models.Entities.SinhVien>

@{
    ViewData["Title"] = "Danh sách sinh viên";
    ViewData["page"] = "Sinh viên";
}

@{
    if (TempData.ContainsKey("StatusMessage"))
    {
        var model = TempData["StatusMessage"].ToString();
        await Html.RenderPartialAsync("_StatusMessage", model);
    }
}

<h2>@ViewData["Title"]</h2>
<div class="float-lg-right">
    <label>Tìm kiếm:</label>
    <input type="text" onkeyup="filter(event)" class="mb-3" />
</div>
<p>
    <a asp-action="Create">Tạo mới</a>
</p>
<table id="easy-table" class="table table-striped table-bordered table-sm">
    <thead>
        <tr></tr>
    </thead>
    <tbody></tbody>
</table>
<div id="paginator"></div>

@section Scripts {
    <script src="~/js/script.js"></script>
    <script>

        // required options
        const options = {
            tableId: 'easy-table',
            currentPage: 1,
            perPage: 10,
            autoHeaders: true,
            arrowUp: '⇑',
            arrowDown: '⇓',
            previousText: '&#10094',
            nextText: '&#10095',
        }

        let data = [];

        $(document).ready(function () {
            console.log('ready')
            $.ajax({
                url: '/sinhvien/getall',
                type: 'get',
            }).done(function (json) {
                for (var i = 0; i < json.length; i++) {
                    let sv = {
                        'Mã sinh viên': json[i].maSV,
                        'Tên': `<a href="SinhVien/Details/${json[i].maSV}">${json[i].tenSV}</a>`,
                        'Lớp': json[i].maLop,
                        'Giới tính': json[i].gioiTinh,
                        'Ngày sinh': json[i].ngaySinh,
                        'Tác vụ': `<div class="text-center">
                                             <a class="btn btn-sm btn-secondary" href="SinhVien/Edit/${json[i].maSV}">Sửa</a>
                                             <a class="btn btn-sm btn-danger" href="SinhVien/Delete/${json[i].maSV}">Xóa</a>
                                        </div>`
                    }
                    data.push(sv)
                }

                setTable(data, options);
            })
        })

    </script>
}