@model QLTV.AppMVC.Models.Entities.HocPhan

@{ 
    ViewData["title"] = "Xóa học phần";
    ViewData["page"] = "Học phần";

    if(TempData.ContainsKey("StatusMessage"))
    {
        await Html.RenderPartialAsync("_StatusMessage", TempData["StatusMessage"]);
    }
}

<div class="col-md-8 offset-md-2">
    <h2>Bạn có chắc chắn muốn xóa?</h2>
    <hr />
    <p>Mã học phần: <strong>@Model.MaHocPhan</strong></p>
    <p>Tên học phần: <strong>@Model.TenHocPhan</strong></p>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Index">Trở về danh sách</a> |
        <input type="submit" value="Xóa" class="btn btn-danger btn-sm" />
    </form>
</div>
