@model QLTV.AppMVC.Models.Entities.LoaiSach

@{
    ViewData["Title"] = "Xóa";
    ViewData["page"] = "Loại sách";
}


<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaLoaiSach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaLoaiSach)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenLoaiSach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenLoaiSach)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Trở về danh sách</a>
    </form>
</div>
