@page "/dangxuat"
@model LockoutModel
@{
    ViewData["Title"] = "Khóa tài khoản";
}
<div class="offset-3">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Tài khoản này bị khóa, vui lòng truy cập lại sau 5 phút.</p>
</div>