@model IEnumerable<QLTV.AppMVC.Models.Entities.PhieuMuon>

@{
    ViewData["Title"] = "Phiếu mượn";
    ViewData["page"] = "Mượn trả sách";
}


<h3>@ViewData["Title"]</h3>
<hr />

<div class="row">
    <div class="">
        <p class="">
            <a asp-action="Create">Tạo mới</a>
        </p>

        <div class="">
            <label>Tìm kiếm:</label>
            <input type="text" onkeyup="filter(event)" class="mb-3" />
        </div>
    </div>

    <table id="easy-table" class="table table-striped table-bordered table-sm">
        <thead>
            <tr></tr>
        </thead>
        <tbody></tbody>
    </table>
    <div id="paginator"></div>
</div>

@section Scripts {
    <script src="~/js/script.js"></script>
    <script>

        // required options
        const options = {
            tableId: 'easy-table',
            currentPage: 1,
            perPage: 10,
            autoHeaders: true,
            arrowUp: '⇑',
            arrowDown: '⇓',
            previousText: '&#10094',
            nextText: '&#10095',
        }

        let data = [];

        $(document).ready(function () {
            console.log('ready')
            $.ajax({
                url: 'api/phieumuon/getall',
                type: 'get',
            }).done(function (json) {
                console.log(json)
                for (var i = 0; i < json.length; i++) {
                    const pm = {
                        'Mã phiếu mượn': json[i].id,
                        'Mã sinh viên': json[i].maSV,
                        'Tên sinh viên': json[i].tenSV,
                        'Tác vụ': `<a href="chitietmuon/index/${json[i].id}">Chi tiết mượn</a>`,
                    }
                    data.push(pm)
                }

                setTable(data, options);
            })
        })
    </script>
}




