@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*html,
body,
applet,
object,
iframe,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
ol,
ul,
li,
fieldset,
form,
legend,
table,
caption,
tbody,
tfoot,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
*/
/*html {
    scroll-behavior: smooth;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

.table td, 
.table th {
    vertical-align: middle
}


body {
    line-height: 1;*/
    /*font-family: "Montserrat", sans-serif;*/
    /*font-family: Arial;
    font-weight: 100;
    font-size: 15px;
    transition: all 0.5s;
}*/

/*ol,
ul {
    list-style: none;
}
*/
/*blockquote,
q {
    quotes: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

 .pc-hidden {
    display: none;
}

 .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #9E9E9E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s;
    background-color: #fff;
    box-shadow: 0px 2px 12px #888888;
    z-index: 999;
    padding: 18px 10%;
}

     .header h3 {
        font-size: 28px;
        font-weight: 300;
    }

         .header h3:after {
            content: "CTUT";
            font-weight: 500;
        }

     .header .nav-menu ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

         .header .nav-menu ul li {
            padding-left: 50px;
            transition: all 0.5s;
        }

             .header .nav-menu ul li a {
                color: #000;
                transition: all 0.5s;
            }

             .header .nav-menu ul li:hover {
                transform: translateY(-10px);
            }

                 .header .nav-menu ul li:hover a {
                    color: #9E9E9E;
                }

 .sticky {
    background: #fff;
    padding: 10px 10%;
}

 .banner {
    margin-top: 90px;
    width: 100%;
    height: 20vh;
    position: relative;
    border-bottom: 1px solid #000;
    background-image: url("https://ctuet.edu.vn/View/assets/images/banner_test.jpg");
    background-size: cover;
}*/

.footer {
    padding: 100px 5%;
    font-weight: 200;
    background-image: url("https://wallpaperaccess.com/full/1426875.jpg");
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: start;
    font-family: "Montserrat", sans-serif;
}

     .footer .footer-left p,
     .footer .footer-right p {
        font-weight: 400;
        font-size: 17px;
        padding: 10px 0px;
    }

     .footer .footer-right {
        text-align: left;
    }

@media screen and (max-width: 1050px) {
     .pc-hidden {
        display: block;
    }

     .mobile-hidden {
        display: none;
    }

     .tablet-show {
        display: block;
    }

     .header {
        padding: 35px 1%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 0.5s;
        background-color: #fff;
        z-index: 999;
    }

         .header h3 {
            font-size: 24px;
            font-weight: 300;
        }

             .header h3:after {
                content: "CTUT";
                font-weight: 500;
            }

     .sticky {
        background: #fff;
        padding: 20px 5%;
    }

     .banner {
        margin-top: 90px;
        width: 100%;
        height: 20vh;
        position: relative;
        border-bottom: 1px solid #000;
        background-image: url("https://ctuet.edu.vn/View/assets/images/banner_test.jpg");
        background-size: cover;
    }

     .footer {
        padding: 100px 5%;
        font-weight: 200;
        background-image: url("https://wallpaperaccess.com/full/1426875.jpg");
        background-size: cover;
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-wrap: wrap;
    }

         .footer .footer-left p,
         .footer .footer-right p {
            font-weight: 400;
            font-size: 17px;
            padding: 10px 0px;
        }

         .footer .footer-right {
            margin-top: 20px;
            text-align: left;
        }
}

/* ******** */
/*#greeting h1 {
    color: #6c757d;
}
#greeting p {
    color: rgb(0 123 255 / 90%);
}

a:hover {
   text-decoration: none;
}

.dropdown-menu .dropdown-item {
    line-height: 1.5;
}

#header h3 {
    transition: all .2s;
}

#header h3:hover {
    transform: scale(1.2);
}

#navbar {
    padding: 10px 50px;
}

#lstDS th {
    padding: 10px
}*/

#home {
    color: blue;
}


