@model QLTV.AppMVC.Models.Entities.TacGia

@{ 
    ViewBag.title = "Xóa tác giả";
    ViewData["page"] = "Tác giả";

}

<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenTG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenTG)
        </dd>

    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa" class="btn btn-danger" />
        <a asp-action="Index">Trở về danh sách tác giả</a>
    </form>
</div>
